@charset "UTF-8";

body {
    font-family: 'DotGothic16', sans-serif;
    background-color: #fdfdfd;
    color: #333;
}

.bg_pattern {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    opacity: 0.4;
    z-index: -1;
}

.Polka {
    background-image: radial-gradient(#ffc107 2px, #ffffff 2px);
    background-size: 20px 20px;
}


#wrap{
    max-width: 100%;
    /*text-align: center;*/
}

h2{
    font-family: 'DotGothic16', sans-serif;
    font-size: 44px;
    display: inline-block;
    margin-top: 50px;
}

h3{
    font-size: 24px;
    margin: 5px;
}

p, section ul{
    font-size: 18px;
    line-height: 1.8rem;
    /*background-color: cornsilk;*/
}

.text-contents {
    width: 80%;
    text-align: justify;
    margin: 20px auto;
}

.list-contents li{
    list-style-type: none; /*点を非表示*/
    position: relative; /*基準位置*/
    padding-left: 0.6em;
}

.list-contents li:before {
    border-radius: 50%; /*丸くする*/
    width: 6px; /*点の幅*/
    height: 6px; /*点の高さ*/
    display: block;
    position: absolute; /*絶対配置*/
    left: 0; /*点の位置*/
    top: 0.3em; /*点の位置*/
    content: "";
    background: #333; /*点の色*/
}

.main-contents{
    position: relative; /* 相対位置指定 */
    width: 70%;
    max-width: 980px;
    margin: 30px auto;
    text-align: center;
}

.card{
    border-top-width: 30px; /* 上部の枠線の太さを指定 */
    border-radius: 25px; /* 角を丸くする */
    padding: 35px 20px; /* 内側の余白を指定 */
    margin: 50px auto; /* 枠を中央に配置 */
    background: #fdfdfd;
    box-sizing: border-box; /* 枠線を含めたボックスサイズを指定 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* グラデーション上部のライン */
.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px; /* 上部の線の高さを設定 */
    background: linear-gradient(to right, #02A0E9, #7ED6FE); /* グラデーションの設定 */
    border-top-left-radius: 25px; /* 角を丸くする */
    border-top-right-radius: 25px; /* 角を丸くする */
}

.close-icon {
    position: absolute; /* 絶対位置指定 */
    top: -5px; /* 上からの距離 */
    right: 20px; /* 右からの距離 */
    font-size: 30px; /* フォントサイズ */
}

.square-icon {
    position: absolute; /* 絶対位置指定 */
    top: 5px; /* 上からの距離 */
    right: 50px; /* 右からの距離 */
    font-size: 20px; /* フォントサイズ */
}

.line-icon {
    position: absolute; /* 絶対位置指定 */
    top: 0px; /* 上からの距離 */
    right: 80px; /* 右からの距離 */
    font-size: 30px; /* フォントサイズ */
}

.youtube{
    width: 80%;
    aspect-ratio: 16 / 9;
    margin: 50px auto;
}

.youtube iframe {
    width: 100%;
    height: 100%;
}



.contents-button a{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 1em 2em;
    width: 200px;
    color: #02A0E9;
    font-size: 18px;
    font-weight: 700;
    border: 3px solid #02A0E9;
    border-radius: 10px;
}

.contents-button a::after {
    content: '';
    width: 5px;
    height: 5px;
    border-top: 3px solid #02A0E9;
    border-right: 3px solid #02A0E9;
    transform: rotate(45deg);
    }

.contents-button a:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #02A0E9;
}

.contents-button a:hover::after {
    border-top: 3px solid #ffffff;
    border-right: 3px solid #ffffff;
}

/*フッター*/
footer{
    width: 100%;
    background-image: linear-gradient(#02A0E9, #7ED6FE);
    text-align: center;
}

.footer-contents{
    display: inline-block;
    margin: 10px;
    height: 150px;
    width: 150px;
    vertical-align: top;
}

footer h3{
    font-size: 18px;
    margin: 10px 0;
    padding-bottom: 10px;
    border-bottom: solid 2px #fdfdfd;
    color: #fdfdfd;
}

footer li{
    list-style: none;
    margin: 10px 0;
}

footer a{
    color: #fdfdfd;
    text-decoration: none;
}


small{
    font-size: 12px;
    padding: 10px;
}

/*その他*/
.clear{
    display: block;
}

.left{
    text-align: left;
}