@charset "UTF-8";

/*About*/
.about-text{
    text-align: left;
}

.member-list{
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    margin: 80px 0;
}

.member-list .item img{
    width: 200px;
    padding: 10px;
}

/*SNS*/
.sns-text{
    text-align: left;
}

.sns-images{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.sns-images li{
    list-style: none;
}

.sns-logo{
    max-width: 120px;
    margin: 50px 50px;
}

.sns-link {
    color: #333;
    font-size: 18px;
    font-weight: 700;
}