@charset "UTF-8";

/*以下レスポンシブ*/
@media screen and (max-width: 767px) {
    .container {
        display: block;
    }

    .set-flex {
        display: block;
    }

    .image-item {
        width: 60%;
        margin: auto;
    }

    .text-item {
        width: 100%;
        margin: auto;
    }

    .container .n02 {
        /**background-color: #cfd5ec;**/
    
        width: 100%;
        padding-right: 0px;
    }
    .container .n03 {
        /**background-color: #eccfe5;**/
    
        width: 100%;
        padding-left: 0px;
    }

    .pokemon_number{
        font-size: 1.2rem;
    }

    .name {
        font-size: 2.5rem;
        line-height: 5rem;
    }
    
    .role {
        font-size: 1.2rem;
    }
    
    .affiliation {
        font-size: 1.2rem;
    }
    
    .description {
        font-size: 1.2rem;
        font-weight: bold;
        line-height: 2;
    }
    
    .n03 table {
        font-size: 1.2rem;
        border-collapse: separate;
        border-spacing: 5px;
    }
}

/*スマホ*/
@media screen and (max-width: 519px) {
    


}
